* {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

html,
body {

    height: 100%;
    width: 100%;

}

main {
    height: 100%;
    width: 100%;
    background-color: #fefae0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1vw;
    position: relative;
}

h1 {
    color: #343a40;
    font-size: 3vw;
}

#container {
    height: 35vw;
    width: 70vw;
    background-color: #e6dcc4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1vw;
    position: relative;
}

#big-box {
    height: 75%;
    width: 35%;
    background-color: #e9edc9;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5vw 1fr 0.5vw 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 0.5vw 1fr 0.5vw 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.5vw;
    border-radius: 0.8vw;
}

#big-box>*:nth-child(1) {

    -ms-grid-row: 1;

    -ms-grid-column: 1;
}

#big-box>*:nth-child(2) {

    -ms-grid-row: 1;

    -ms-grid-column: 3;
}

#big-box>*:nth-child(3) {

    -ms-grid-row: 1;

    -ms-grid-column: 5;
}

#big-box>*:nth-child(4) {

    -ms-grid-row: 3;

    -ms-grid-column: 1;
}

#big-box>*:nth-child(5) {

    -ms-grid-row: 3;

    -ms-grid-column: 3;
}

#big-box>*:nth-child(6) {

    -ms-grid-row: 3;

    -ms-grid-column: 5;
}

#big-box>*:nth-child(7) {

    -ms-grid-row: 5;

    -ms-grid-column: 1;
}

#big-box>*:nth-child(8) {

    -ms-grid-row: 5;

    -ms-grid-column: 3;
}

#big-box>*:nth-child(9) {

    -ms-grid-row: 5;

    -ms-grid-column: 5;
}

.box {
    border-radius: 0.8vw;
    background-color: #d4a373;
    color: #000;
    font-size: 6.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box:hover {
    cursor: pointer;
}

#line {
    height: 2px;
    width: 23vw;
    background-color: rgba(61, 61, 61, 0.555);
    position: absolute;
    z-index: 99;
    display: none;
}

#restart-btn {
    padding: 1vw 1.2vw;
    font-size: 1.4vw;
    background-color: #343a40;
    color: #fff;
    border-radius: 0.6vw;
    border: none;
    display: none;
}

#restart-btn:hover {
    cursor: pointer;
    background-color: #454b52;
}

#start-btn {
    padding: 1vw;
    font-size: 2vw;
    background-color: #343a40;
    color: #fff;
    border-radius: 0.6vw;
    border: none;
}

#start-btn:hover {
    cursor: pointer;
    background-color: #454b52;
}


@media (max-width:800px) {

    main {
        gap: 5vw;
    }

    main h1 {
        font-size: 4vw;
    }

    #container {
        height: 68vw;
        width: 75vw;
    }

    #big-box {
        width: 55%;
        height: 70%;
    }

    .box {
        border: none;
        font-size: 8vw;
    }

    #start-btn {
        font-size: 2.5vw;
    }

    #restart-btn {
        font-size: 2.5vw;
    }

    #line {
        width: 40vw;
    }

}


@media (max-width:600px) {

    main h1 {
        font-size: 6.5vw;
        margin-bottom: 7vw;
    }

    #container {
        width: 85vw;
        height: 100vw;
    }

    #big-box {
        width: 70%;
        height: 65%;
    }

    .box {
        border: none;
        border-radius: 2.5vw;
        font-size: 12vw;
    }

    #start-btn {
        font-size: 4vw;
        padding: 2vw;
        border-radius: 1.5vw;
    }

    #restart-btn {
        font-size: 4vw;
        padding: 1.7vw;
        border-radius: 1.5vw;
    }

    #line {
        width: 55vw;
    }

}